* {margin: 0; padding: 0; user-select: none;}
body {background-image: url(imgs/background.png); color: #fff; background-size: cover;}
a {border: 2px solid #fff; padding: 3px; text-decoration: none; color: white;}

#texts {margin-top: 200px; text-align: center;}
#text1 {font-size: 60px;}
#text2 {font-size: 30px;}
#carrinho {border-radius: 50%; margin-right: 10px;}
#bgheader {
    background-color: #212121;
    box-shadow: 0 0 1rem #000;

    padding: 8px; 
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    display: flex;
}
#logo {
    display: flex;
    align-items: center;
    max-width: 290px;
}
ul#linkheader {
    display: flex;
    margin: 23px;
}
li.linksheader{
    list-style-type: none;
    cursor: pointer;
    padding-left: 20px;
}
a:hover {
    transition: all 600ms ease;
    background: #fff;
    color: black;
    border: 2px solid #fff;
    box-shadow: 0 0 1rem black;
}


#text1, #text2 {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 0 1rem black;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    position: absolute;
    bottom: 0;
    margin-top: 200px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}